*

!.gitignore
!README.md
!images
!images/*
!src
!src/*
!src/galistream/
!src/galistream/*
!src/galistream/plots/
!src/galistream/plots/*
!src/galistream/final/
!src/galistream/final/*
!src/galistream/poster/
!src/galistream/poster/*
!scripts
!scripts/*
